.contact {
    background-color: #fff;
    width: 80%;
    margin: 2% auto;
    height: 80vh;
    border-radius: 10px;
}

.contact h2 {
    font-size: 5vh;
    padding: 2% 0 2% 5%
}


.contact p {
    font-size: 5vh;
    display: block;
    margin: 3% 0 0 5%;
}

.contact a {
    font-size: 5vh;
    display: block;
    margin: 3% 0 0 5%;
    text-decoration: none;
}