header {
    border-bottom: 2px solid white;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    /* background-color: #8a0514; */
    /* background-color: #77a9d5; */
}

nav {
    /* border: 1px solid green; */
    grid-column: 2 / 4;
}

h1 {
    /* display: inline-block; */
    grid-column: 1 / 2;
    margin: 2%;
    font-size: 6vh;
    color: #fff;
}

.nav-button {
    display: inline-block;
    margin: 0 3%;
    font-size: 3vh;
    color: #fff;
    background-color: #77a9d5;

    text-decoration: none;
    list-style: none;
    padding: 1%;
    border-radius: 10px;


}

.nav-button-active {
    background-color: #fff;
    color: #77a9d5;
    padding: 1%;
    border-radius: 10px;
}

.name-link {
    grid-column: 1 / 2;
    margin: 2% 0 2% 20%;
    font-size: 6vh;
    color: #fff;
    text-decoration: none;
  }
  
  .name-link-active {
    color: #ffffff00;
  }
